.container-reg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1E25;
    color: whitesmoke;
}
.main-reg {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.title-reg {
    font-size: 42px;
}

.tel-regis {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tel-number-regis {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #15171C;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.main-tel-number-regis {
    display: flex;
    justify-content: space-between;
}


.send-tel {
    background-color: #B785F6;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    transition: background-color 0.3s ease;
}
.send-tel:hover {
    background-color: #8e42eb;
    color: white;
}

.tel-code-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tel-code-i {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #15171C;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}